<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @promocao.titulo %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @promocao.mensagem %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @promocao.imagem %>
</p>

<p>
  <strong>Beacon:</strong>
  <%= @promocao.beacon_id %>
</p>

<%= link_to 'Edit', edit_promocao_path(@promocao) %> |
<%= link_to 'Back', promocaos_path %>
